<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Home</title>
        <link rel="stylesheet" type="text/css"
              href="../static/css/bootstrap.min.css"
              th:href="@{/css/bootstrap.min.css}"/>

        <style>
            .space {
                margin-top: 40px;
            }
        </style>
    </head>
    <body>
        <div class="container space">
            <form th:action="@{index}" method="get">
                <div class="form-group">
                    <label>Mot cles</label>
                    <input type="text" name="motCle"/>
                    <button type="submit">Chercher</button>
                </div>
            </form>
        </div>

        <div class="container">
            <h1>Liste des etudiants</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Nom</td>
                    <td>Email</td>
                    <td>Date</td>
                    <td>Photo</td>
                </tr>
                </thead>

                <tbody>
                <tr th:each="etudiant:${pageEtudiants.content}">
                    <td th:text="${etudiant.id}"></td>
                    <td th:text="${etudiant.nom}"></td>
                    <td th:text="${etudiant.email}"></td>
                    <td th:text="${etudiant.dateNaissance}"></td>
                    <td th:text="${etudiant.photo}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="container">
            <ul class="nav nav-pills">
                <li th:each="number:${pageNumber}" th:class="${number == currentPage} ? active : ''">
                    <a th:text="${number}" th:href="@{index(page=${number}, motCle=${mc})}"></a>
                </li>
            </ul>
        </div>
    </body>
</html>